html ,body
{
    height: 100%;
}
#clock{
    /* background-color: blueviolet; */
    color: #fff;
    font-family: 'Bungee Shade', cursive;
/*     font-size: 70px; */
    font-size: 90px;
    /* position: relative; */
    /* top: 50%; */
    margin-top:-35px; 
    text-align: center;
}
